extends layout

block content
  h1= title
  p Welcome to #{title}
  if leads
     h1 Leads
     for lead in leads
      p(id=lead.id)
       span #{lead.email}
       |
       a(href="/lead/"+lead.id) Details
       button(onClick=`deleteLead('${lead.id}')`) Delete
       |
      script(src="https://code.jquery.com/jquery-3.5.1.min.js")
      script(src="/javascripts/lead.js")
